@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@theme {
	--font-sans: 'JetBrains Mono', sans-serif;
	--font-mono: 'JetBrains Mono', monospace;

	--pattern-bg: theme('colors.zinc.950');
	--pattern-text: theme('colors.zinc.100');
	--pattern-empty: theme('colors.zinc.500');
	--pattern-note: theme('colors.teal.400');
	--pattern-instrument: theme('colors.teal.500');
	--pattern-effect: theme('colors.teal.300');
	--pattern-envelope: theme('colors.teal.200');
	--pattern-noise: theme('colors.teal.600');
	--pattern-header: theme('colors.zinc.800');
	--pattern-selected: theme('colors.zinc.700');
	--pattern-cell-selected: theme('colors.zinc.400');
	--pattern-row-num: theme('colors.teal.500');
	--pattern-alternate: theme('colors.zinc.900');
}
